# reference: https://git-scm.com/docs/gitignore/en

# ignore everything
*
# except...

# directories starting with a letter
![a-zA-Z]*/

# Python
!*.py
!*.ipynb

# C
!*.c

# Web
!*.html
!*.css
!*.js

# other files
!.gitignore
!*.md
!*.pdf